# {{ ansible_managed }}

Host *
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

{% for host in ssh_hosts %}

Host {{ host.nickname | default(host.hostname) }}
    Hostname {{ host.hostname }}
    Port {{ host.port | default(22) }}
    User {{ host.user | default(lookup('env', 'USER')) }}
    ForwardAgent {% if host.forward_agent | default(False) %}yes{% else %}no{% endif %}

{% if host.key is defined %}
    IdentityFile {{ host.key }}
{% endif %}

{% endfor %}
