name: Build

on:
  push:
    branches: [ main ]
  schedule:
    - cron:  '0 10 * * 3'

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Cache
      uses: actions/cache@v4
      with:
        path: |
          ~/Library/Caches/Homebrew
          ~/Library/Caches/pip
          ~/.npm
        key: cache-202411

    - name: Remove 2to3
      run: rm -rf /usr/local/bin/2to3

    - name: Update Homebrew
      run: brew update

    - name: Install Ansible
      run: brew install ansible

    - name: Lint Ansible Playbook
      run: ansible-playbook site.yml --syntax-check

    - name: Run Ansible Playbook
      run: ansible-playbook site.yml --diff

    - name: Zsh Test
      shell: zsh {0}
      run: echo "Test"
